# Python Virtual Environments
venv/
*.env
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Python Caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Build & Test Artifacts
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
